spec:
    powerfulseal:
        enabled: true
    chaosMesh:
        enabled: true
    destination:
        clustername: test
        server: https://kubernetes.default.svc
        name: test
        project: kube-apps-chaos
        syncPolicy:
    source:
        repoURL: https://github.com/bbdsoftware/metis-cluster-bootstraps.git
        customChartPath: charts/metis-apps-chaos/custom-charts/
