spec:
    powerfulseal:
        enabled: true # install pwoerfull seal controller
    chaosMesh:
        enabled: true # install chaos mesh
    aws:
        enabled: true
    destination:
        clustername: test
        server: https://kubernetes.default.svc # agocd registered server address
        name: test
        project: kube-apps-chaos # agocd project name

    source:
        repoURL: https://github.com/bbdsoftware/metis-cluster-bootstraps.git
        customChartPath: charts/metis-apps-chaos/custom-charts/
