spec:
    appName:
        enabled: true
    aws:
        enabled: true
    destination:
        clustername: test
        server: https://kubernetes.default.svc
        name: test
        project: kube-apps-storage
        syncPolicy:
